/* src/styles/variables.css */

:root {
  --container-bg: #ffffff;
  --background-color: #f9f9f9;
  --text-color: #333333;
  --secondary-text: #777777;
  --primary-color: #1e88e5;
  --primary-color-hover: #1565c0;
  --accent-color: #ffcd02;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
  --transition-speed: 0.3s;
  --button-bg: transparent;
  --secondary-color: #ff9800;
  --progress-bg: #555555;
  --success-color: #43a047;
  --light-blue: #1e88e5;
}

/* Suport pentru Modul Întunecat */
body.dark-mode {
  --container-bg: #2c2c2c;
  --text-color: #e0e0e0;
  --background-color: #3a3a3a;
  --shadow-color: rgba(0, 0, 0, 0.7);
  --primary-color: #1e88e5;
  --primary-color-hover: #1565c0;
  --secondary-color: #ff9800;
  --secondary-text: #b0b0b0;
  --accent-color: #ffcd02;
}
