/* src/styles/variables.css */

:root {
  --container-bg: #ffffff;
  --text-color: #333333;
  --background-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: hsla(170, 50%, 45%, 1); /* Culoarea specificată */
  --primary-color-hover: hsla(
    170,
    50%,
    35%,
    1
  ); /* Culoare mai închisă pentru hover */
  --accent-color: #ffcd02;
  --success-color: #27ae60;
  --progress-bg: #e0e0e0;
  --progress-fill-color: var(--primary-color);
  --border-radius: 15px;
  --transition-speed: 0.3s;
  --danger-hover: #bd2130; /* Adăugat pentru logoutButton */
  --muted-text: #777777; /* Adăugat pentru logoutText */
  --light-blue: #f0f8ff; /* Adăugat pentru notificationItem:hover */
}

/* Dark Mode Variables */
body.dark-mode {
  --container-bg: #2c2c2c;
  --text-color: #e0e0e0;
  --background-color: #3a3a3a;
  --shadow-color: rgba(0, 0, 0, 0.7);
  --primary-color: hsla(170, 50%, 35%, 1); /* Ajustată pentru Dark Mode */
  --primary-color-hover: hsla(170, 50%, 25%, 1);
  --accent-color: #ffcd02;
  --success-color: #27ae60;
  --progress-bg: #555555;
  --progress-fill-color: var(--primary-color);
  --danger-hover: #c82333; /* Ajustată pentru Dark Mode */
  --muted-text: #cccccc; /* Ajustată pentru Dark Mode */
  --light-blue: rgba(0, 0, 0, 0.05); /* Ajustată pentru Dark Mode */
}
