@import "../styles/variables.css";

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.darkMode {
  --background-color: #1c1c1c; /* Fundal întunecat mai modern */
  --container-bg: #2e2e2e; /* Container întunecat */
  --text-color: #ffffff; /* Text alb pentru contrast */
  --secondary-text: #c0c0c0; /* Text secundar deschis */
  --header-bg: #2e2e2e; /* Fundal header întunecat */
  --header-text: #ffffff; /* Text header alb */
  --sidebar-bg: #2e2e2e; /* Fundal sidebar întunecat */
  --sidebar-text: #ffffff; /* Text sidebar alb */
  --overlay-bg: rgba(0, 0, 0, 0.8); /* Fundal overlay mai întunecat */
}

.darkMode .header,
.darkMode .sidebar {
  background-color: var(--header-bg);
  color: var(--header-text);
}

.darkMode .sidebarNav a {
  color: var(--sidebar-text);
}

.darkMode .mainContent {
  background-color: var(--background-color);
}

.darkMode .productSection,
.darkMode .chartSection {
  background-color: var(--container-bg);
}

.darkMode .categoryItem h3 {
  background-color: var(--container-bg);
}

.darkMode .productItem {
  background-color: var(--container-bg);
  border: 1px solid var(--border-color);
}

.darkMode .categoryItem h3:hover {
  background-color: #444444; /* Un gri mai închis la hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Umbre la hover */
}

/* Overlay Styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Main Content Styling */
.mainContent {
  flex: 1;
  padding: 40px;
  transition: padding var(--transition-speed) ease;
}

@media (max-width: 767px) {
  .mainContent {
    padding: 20px;
  }
}

/* Content Wrapper */
.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 992px) {
  .contentWrapper {
    flex-direction: row;
  }
}

/* Dark Mode Adjustments */
.darkMode .modal {
  background-color: #444444; /* Gri închis pentru modal */
  color: #ffffff; /* Text alb pentru modal */
}

.darkMode .modalInput {
  background-color: #6c757d;
  color: #f8f9fa;
  border: 1px solid #ced4da;
}

.darkMode .modalInput:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px; /* Lățimea scrollbar-ului */
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--container-bg);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .contentWrapper {
    flex-direction: column; /* Column layout for smaller screens */
  }
}
