/* src/components/ChartSection/ChartSection.module.css */

@import "../../styles/variables.css";

/* Container pentru secțiunea graficului */
.chartContainer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: var(--container-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 70vh;
  border: 1px solid var(--primary-color);
  max-width: 650px;
}

.chartContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.chartHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.chartIcon {
  margin-right: 12px;
  font-size: 2rem;
  color: var(--primary-color);
}

.chartTitle {
  margin: 0;
  font-size: 1.8em;
  color: var(--text-color);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.chartWrapper {
  flex: 1;
  position: relative;
  height: 100%;
}

.chartWrapper canvas {
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--border-radius);
}

/* Design Responsiv */
@media (max-width: 768px) {
  .chartContainer {
    padding: 20px;
  }
  .chartTitle {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .chartContainer {
    padding: 15px;
  }
  .chartTitle {
    font-size: 1.2em;
  }
}

/* Suport pentru Modul Întunecat */
body.dark-mode {
  --container-bg: #1f1f1f;
  --text-color: #f0f0f0;
  --primary-color: #4b7bec;
  --border-radius: 10px;
}
